* {
    margin: 0;
}
body {
    box-sizing: border-box;
}
.group>.panel {
    display: flex;
    flex-direction: row;
    gap: 1px;
}
.group:not(.full)>.panel {
    padding: 0 10px;
}
.group .panel span {
    width: fit-content;
    padding: 5px;
    background-color: rgb(181, 181, 181);
    border-radius: 5px 5px 0 0;
    cursor: pointer;
}
.group .panel span.active {
    background-color: rgb(230, 230, 230);
}
.group>.frame {
    display: block;
    padding: 10px;
    background-color: rgb(230, 230, 230);
}
.group:not(.full)>.frame {
    margin: 0 10px;
}
.group .frame>div {
    display: none;
}